
.free-solo-demo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    color: aliceblue;
}
.main {
    color: rgb(250, 250, 250);
    opacity: 90%;

}
img[target="_top"]{
      width: 100%;
      height: 100%;
      pointer-events: none;
    position: absolute;
    z-index: -1;
}

.fakeimg {
    background-color: #aaa;
    padding: 10px;
  }

  .side {
    background-color: #f1f1f1;
    color: white;
    opacity: 90%;
  }
